@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: poppins, Helvetica, sans-serif;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px; /* scrollbar width */
}

::-webkit-scrollbar-track {
  background: #EEF6EB; /* track color */
}

::-webkit-scrollbar-thumb {
  background-color: #417360; /* scrollbar color */
  border-radius: 10px;
  border: 2px solid #EEF6EB;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f7f66;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #417360 #EEF6EB;
}

